@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    font-family: Roboto;
}

#titulo {
    font-family: Montserrat;
    margin-top: 25px;
    font-weight: lighter;
    text-shadow: 1px 1px black;
}

.container {
    text-align: center;
    position: relative;
}

label {
    padding-top: 10px !important;
}

header {
    margin: 5px auto;
    text-align: center;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-style: italic;
}

section {
    padding: 15px;
}

.box {
    padding: 25px !important;
    border-radius: 25px;
    background-color: #F2F3F4;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

#sorteio {
    padding: 25px !important;
    border-radius: 25px;
    background-color: #F2F3F4;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

#btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#btn button {
    width: 100%
}

#resultado {
    background-color: #198754;
    border-radius: 15px;
    height: 50px;
    margin: 15px auto;
    display: none;
    align-items: center;
    justify-content: center;
    font: 20pt bold;
    color: whitesmoke;
    font-family: Roboto;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

span {
    border: solid 1px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}